{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}{% endblock title %}</title>
		<link rel="icon" type="image/png" href="{% static 'home/images/logo/ieee.png' %}"  sizes="16x16">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        {% block contentstylesheet %}
        {% endblock contentstylesheet %}
        
	</head>
	<body>
    {% include 'basic/header.html' %}

	{% block content %}
    {% endblock content %}

    {% include 'basic/footer.html' %}

    </body>
</html>