{% load static %}

<!--========== FOOTER ==========-->
<footer class="g-bg-color--dark">
    <!-- Links -->
    <!-- End Links -->

    <!-- Copyright -->
    <div class="container g-padding-y-50--xs">
        <div class="row">
            <div class="col-xs-6">
                <a href="index">
                    <img class="g-width-60--xs g-height-auto--xs" src="{% static 'images/img/ieee_small60_trans_logo.png' %}" alt="IEEE Logo">
                </a>
            </div>
            <div class="col-xs-6 g-text-right--xs">
                <p class="g-font-size-14--xs g-margin-b-0--xs g-color--white-opacity-light">IEEE Student Branch JIIT Noida</p>
                <p class="g-font-size-14--xs g-margin-b-0--xs g-color--white-opacity-light">Mail us at : ieeesbjiitweb@gmail.com</p>
                <p class="g-font-size-14--xs g-margin-b-0--xs g-color--white-opacity-light">Or message us on facebook</p>
            </div>
        </div>
    </div>
    <!-- End Copyright -->
</footer>
<!--========== END FOOTER ==========-->
