{% load static %}
{% load sass_tags %}

<link rel="stylesheet" type="text/css" href="{% sass_src  'home/stylesheets/footer-style-sass.scss' %}?{% now 'jS S Y H:i' %}" />

<!--========== FOOTER ==========-->
<footer>
    <div class="footer-background"></div>
    <div class="footer-container">
        <div class="footer-column">
            <div class="horizontal-column">
                <div class="icon-container">
                    <img src="{% static 'home/images/logo/ieee.png' %}" />
                </div>
                <div class="details-wrapper">
                    <h2>REACH US<hr></h2>
                    <p>IEEE&nbspSB&nbspJIIT<br>
                    JIIT, Sector 62,<br>
                    NOida-201309</p>
                </div>
            </div>
        </div>
        <div class="footer-column">
            <div class="column-heading">
                <h2>Quick&nbspLinks</h2>
                <hr>
            </div>
            <div class="column-details">
                <div class="details-wrapper">
                    <a class="links" href="https://www.ieee.org" target="_blank">IEEE Org</a>
                </div>
                <div class="details-wrapper">
                    <a class="links" href="//www.jiit.ac.in" target="_blank">JIIT</a>
                </div>
            </div>
        </div>
        <div class="footer-column">
            <div class="column-heading">
                <h2>Contact&nbspUs</h2>
                <hr>
            </div>
            <div class="column-details">
                <div class="details-wrapper">
                    <div class="icon-container"  onclick="window.open('https://www.gmail.com','_blank')" >
                        <img src="{% static 'home/images/logo/gmail.png' %}" />
                    </div>
                    <div class="info">
                        ieeesbjiit@gmail.com
                    </div>
                </div>
                <div class="details-wrapper" >
                    <div class="icon-container" onclick="window.open('https://www.facebook.com/ieeesbjiit/','_blank')" >
                        <img src="{% static 'home/images/logo/fb.png' %}" />
                    </div>
                    <div class="info">
                        /ieeesbjiit
                    </div>
                </div>
                <div class="details-wrapper">
                    <div class="icon-container" onclick="window.open('https://www.instagram.com/ieeesbjiit/','_blank')" >
                        <img src="{% static 'home/images/logo/insta.png' %}" />
                    </div>
                    <div class="info">
                        /ieeesbjiit
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--========== END FOOTER ==========-->
