{% load static %}

<link rel="stylesheet" type="text/css" href="{% sass_src  'home/stylesheets/header-style-sass.scss' %}?{% now 'jS S Y H:i' %}" />

<!--========== HEADER ==========-->
<header class="head">
    <div id="main-col">
        <div class="logo-container">
            <img src="home/images/basic/logo.png" />
        </div>
        <div class="head-name">
            IEEE SB JIIT
        </div>
    </div>
    <div id="nav-col">
        <div id="dropdown-arrow">
            o
        </div>
        <div id="nav-list">
            <a class="nav-option" href="/home">Home</a>
            <a class="nav-option" href="/event">Events</a>
            <a class="nav-option" href="/team">Team</a>
            <a class="nav-option" href="/about">About Us</a>
        </div>
    </div>
</header>
<!--========== END HEADER ==========-->
