{% load static %}
{% load sass_tags %}

<link rel="stylesheet" type="text/css" href="{% sass_src  'home/stylesheets/header-style-sass.scss' %}?{% now 'jS S Y H:i' %}" />
<link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">   <!-- font-family: 'Oswald', sans-serif; -->
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">   <!-- font-family: 'Roboto', sans-serif; -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet"> <!-- font-family: 'Open Sans', sans-serif; --> 
<link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">  <!-- font-family: 'Righteous', cursive; -->

<script src="{% static 'home/javascripts/header-div.js' %}?{% now 'jS S Y H:i' %}"></script>

<!--========== HEADER ==========-->
<header class="head">
    <div id="main-col">
        <div class="logo-container" onclick="location.href='/home'">
            <img src="{% static 'home/images/logo/ieee.png' %}" />
        </div>
        <div class="head-name" onclick="location.href='/home'">
            IEEE&nbspSB&nbspJIIT
        </div>
    </div>
    <div id="nav-col">
        <div id="dropdown-arrow" onclick="showmenu()" >
            <svg id="menu-icon" width="512pt" height="512pt" viewBox="0 0 512 512" version="1.1">
            <g>
            <path style=" stroke:none;fill-rule:nonzero;fill:rgb(100%,100%,100%);fill-opacity:1;" d="M 256 468 C 139.199219 468 44 372.800781 44 256 C 44 139.199219 139.199219 44 256 44 C 372.800781 44 468 139.199219 468 256 C 468 372.800781 372.800781 468 256 468 Z M 256 68 C 152.398438 68 68 152.398438 68 256 C 68 359.601562 152.398438 444 256 444 C 359.601562 444 444 359.601562 444 256 C 444 152.398438 359.601562 68 256 68 Z M 256 68 "/>
            <path style=" stroke:none;fill-rule:nonzero;fill:rgb(100%,100%,100%);fill-opacity:1;" d="M 346 208 L 166 208 C 159.199219 208 154 202.800781 154 196 C 154 189.199219 159.199219 184 166 184 L 346 184 C 352.800781 184 358 189.199219 358 196 C 358 202.800781 352.800781 208 346 208 Z M 346 268 L 166 268 C 159.199219 268 154 262.800781 154 256 C 154 249.199219 159.199219 244 166 244 L 346 244 C 352.800781 244 358 249.199219 358 256 C 358 262.800781 352.800781 268 346 268 Z M 346 268 "/>
            <path style=" stroke:none;fill-rule:nonzero;fill:rgb(100%,100%,100%);fill-opacity:1;" d="M 346 328 L 166 328 C 159.199219 328 154 322.800781 154 316 C 154 309.199219 159.199219 304 166 304 L 346 304 C 352.800781 304 358 309.199219 358 316 C 358 322.800781 352.800781 328 346 328 Z M 346 328 "/>
            </g>
            </svg>
            <svg id="arrow-icon" width="100" height="100" viewBox="0 0 100 100">
                <circle cx="50" cy="50" r="40" stroke="white" stroke-width="3" fill="none"></circle>
                <path d="M50 30 L25 60 L77 60 Z" fill="white" />
            </svg>
        </div>
        <div id="nav-list">
            <a class="nav-option" href="/home">Home</a>
            <a class="nav-option" href="/event">Events</a>
            <a class="nav-option" href="/team">Team</a>
            <a class="nav-option" href="/about">About&nbspUs</a>
        </div>
    </div>
</header>
<!--========== END HEADER ==========-->
