body{
    margin:0;
    .body-container{
        margin:0;
        width:100%;
        height:70vh;
        top:10vh;
        position:relative;
        display:grid;
        grid-template-rows: 80% 15%;
        grid-template-columns: 50%;
        grid-row-gap: 5%;
        margin:auto;
        justify-content: center;
        font-family: 'Righteous', cursive;
        .image-container{
            // width:100%;
            height:100%;
            justify-self: center;
            img{
                height:100%;
            }
        }
        .details-container{
            width:100%;
            // padding:4% 0;
            text-align: center;
            display:grid;
            grid-template-rows: 50% 50%;
            justify-content: center;
            font-size: 1.5em;
            .link-button{
                .button{
                    text-decoration: none;
                    margin:1%;
                    color:rgb(19, 177, 205);
                    border:2px inset rgb(19, 177, 205);
                    border-radius: 4rem;
                    padding:5% 20%;
                }
                .button:hover{
                    border:2px outset rgb(19, 177, 205);

                }
            }
        }
    }
}