$mobile-break-point: 600px;
$footer-background-color: rgb(13, 26, 38);
$footer-background-color-dark: rgb(7, 13, 19);
$footer-height:45vh;
$footer-height-mobile:45vw;
$border-color: rgba(255,255,255,.8);
$border-properties: .12em solid $border-color;

footer{
    scroll-behavior: smooth;
    position:relative;
    width:100%;
    overflow:hidden;
    background: $footer-background-color;
    font-family: 'Open Sans', sans-serif;
    @media only screen and (max-width:$mobile-break-point){
        height:$footer-height-mobile;
        font-size: .5em;
    }
    @media only screen and (min-width:$mobile-break-point){
        height:$footer-height;
    }
    
    .footer-container{
        position:relative;
        height:85%;
        box-sizing: border-box;
        margin:auto;
        display:grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 20% 45% 35%;
        grid-template-areas: 'arrow-up arrow-up'
                            'logo details'
                            'icons icons';
        
        @media only screen and (max-width:$mobile-break-point){
            width:80%;
        }
        @media only screen and (min-width:$mobile-break-point){
            width:40%;
        }
        .arrow-up{
            grid-area: arrow-up;
            position: relative;
            width:100%;
            display:flex;
            justify-content: center;
            cursor:pointer;
            border-bottom: $border-properties;
            svg{
                position:relative;
                width:3%;
                height:100%;
                transition:.2s;
                path{
                    fill: white;
                }
            }
            &:hover{
                svg{
                    transform:scale(1.1);
                    path{
                        fill: rgba(255,255,255,.7);
                    }
                }
            }
        }
        .logo-column{
            grid-area: logo;
            position: relative;
            width:100%;
            box-sizing: border-box;
            padding:10% 20%;
            overflow: hidden;
            display: flex;
            justify-content: flex-end;            
            border-right: $border-properties;
            img{
                position: relative;
                width:100%;
                height:100%;
                cursor: pointer;
            }

        }
        .details-column{
            grid-area: details;
            position: relative;
            width:100%;
            box-sizing: border-box;
            padding:10% 20%;
            color:white;
            h3{
                margin:0 0 2% 0;
                hr{
                    border:0;
                    margin:0;
                    width:50%;
                    height:.1em;
                    background: $border-color;
                }
            }
            p{
                font-size: .9em;
                margin: 0;
            }
        }
        .icons-container{
            grid-area: icons;
            position: relative;
            width:100%;
            box-sizing: border-box;
            // margin-top:5%;
            padding: 2% 0;
            display:flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;  
            border-top: $border-properties;
            .icon{
                $icon-size:2.5em;
                position: relative;
                width:$icon-size;
                height:$icon-size;
                overflow: hidden;
                margin:0 2%;
                cursor: pointer;
                border-radius: 50%;
                border: .1em solid rgb(255,255,255);
                transition:.4s;
                &:hover{
                    transform: scale(1.1);
                }
            }
        }


    }
    .footer-bottom{
        position: relative;
        width:100%;
        height:15%;
        box-sizing: border-box;
        padding:.5em;
        background: $footer-background-color-dark;
        display:flex;
        justify-content: center;
        align-items: center;
        .footer-heading{
            position: relative;
            color:white;
            font-size: 1.1em;
            font-weight: bold;
            letter-spacing: 0.5em;
        }
    }
}