$navigationbar-color-solid: rgb(20, 39, 57);
$navigationbar-color-transparent: linear-gradient(to bottom,rgba(0,13, 26,.8) 30%,rgba(0,13, 26,0));
$text-color: white;
$border-color:white;
$text-size-links:1.5em;
$text-size-name:2.2em;
$text-size-name-mobile:1.2em;


.solid-nav{
    background: $navigationbar-color-solid;
    color:$text-color;
    transition:.7s;
}
header{
    margin:0;
    width:100%;
    box-sizing: border-box;
    padding: 1% 1%;
    font-family: 'Roboto', sans-serif;
    position:fixed;
    display:flex;
    flex-flow: row nowrap;
    background: $navigationbar-color-transparent;
    color:$text-color;
    z-index: 100;
    @media only screen and (min-width:600px){
        height:10vh;
        justify-content: space-around;
    }
    @media only screen and (max-width:600px){
        height:10vh;
        justify-content: space-between;
    }
    
    #main-col{
        height:100%;
        margin-right:10%;
        @media only screen and (min-width:600px){
            width:20%;
        }
        @media only screen and (max-width:600px){
            width:50%;
        }
        display:flex;
        flex-flow: row nowrap;
        justify-content: center;
        .logo-container{
            height:90%;
            img{
                height:100%;
                padding:10%;
                cursor: pointer;
            }
        }
        .head-name{
            font-family: 'Open Sans', sans-serif;
            @media only screen and (max-width:600px){
                font-size: $text-size-name-mobile;
            }
            @media only screen and (min-width:600px){
                font-size: $text-size-name;
            }
            
            padding-left:.2em;
            color:inherit;
            display:grid;
            place-content: center;
            cursor: pointer;
        }
    }
    #nav-col{
        width:20%;
        height:98%;
        display:flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        @media only screen and (min-width:600px){
            width:30%;
            #dropdown-arrow{
                display:none;
            }
            #nav-list{
                position:relative;
                width:100%;
                height:100%;
                display:flex;
                flex-flow:row nowrap;
                justify-content: space-around;
                align-items: center;
                .nav-option{
                    text-decoration:none;
                    height:100%;
                    display:grid;
                    place-content: end center;
                    color:inherit;
                    cursor :pointer;
                    transition:.2s;
                    // flex-grow: 1;
                    padding: 0 3%;
                    font-size: $text-size-links;
                    box-sizing: border-box;
                }
                .nav-option:hover{
                    border-left: .2em solid $border-color;
                }
            }
        }
        @media only screen and (max-width:600px){
            width:20%;
        #dropdown-arrow{
            width:100%;
            height:90%;
            margin:auto;
            display:flex;
            cursor:pointer;
            svg{
                height:100%;
                width:100%;
            }
            #arrow-icon{
                display:none;
            }
            #menu-icon{
                display:block;
            }
        }
        #nav-list{
            position:absolute;
            right:0%;
            top:100%;
            display:flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            width:60%;
            height: 100vh;
            background: rgba(50,50,50,1);
            border:2.5px double rgb(10,10,10);
            box-shadow: -1px 0 2px rgb(50,50,50);
            transition:.7s;
            transform: translate(100%,0%);
            transform-origin: 100% 0;
            .nav-option{
                text-decoration:none;
                color:inherit;
                padding:5% 10%;
                width:100%;
                font-size: 1.5em;
                cursor:pointer;
                box-sizing: border-box;
            }
            
            .nav-option:hover{
                background: rgba(100,100,100,.5);
                border-left: .2em solid rgb(200,200,200);
            }
        }
        }
    }
}