body{
    margin:0;
    padding:0;
    .body-container{
        width:100%;
        position:relative;
        top:8vh;
        display:flex;
        flex-flow:column nowrap;
        justify-content: flex-start;
        font-family: 'Lato', sans-serif;
        .body-column{
            width:100%;
            min-height:40vh;
            box-sizing: border-box;
            
            @media only screen and (max-width:600px){
                font-size: .5em;
            }
            @media only screen and (min-width:600px){
                font-size: 1em;
            }
            .content-container{
                position:relative;
                width:70%;
                margin:auto;
                padding:7% 0;
                display:flex;
                flex-flow:column nowrap;
                justify-content: center;
                text-align: center;
                .content-head{
                    width:100%;
                    display:flex;
                    flex-flow:column nowrap;
                    justify-content: center;
                    p{
                        margin:0 0 1rem 0;
                    }
                    .small-text{
                        color:rgb(19, 177, 205);
                        font-weight: 700;
                        font-size: 1.1em;
                        letter-spacing: .125rem;
                        line-height: 1.2;

                    }
                    .large-text{
                        font-size: 2.75em;
                        // font-weight: 700;

                    }
                }
                .content{
                    line-height: 1.6;
                    font-size: 0.94em;
                    font-weight: 100;
                    width:80%;
                    margin:auto;
                    color:rgb(34, 35, 36);
                }
            }
        }
    }
}