$mobile-break-point: 600px;
$bullet-color: rgba(255,255,255,1);
$active-bullet-color: rgba(0, 34, 51,1);

.slide-div-full{
    position:relative;
    height:50vw; 
    width:100%; 
    margin:0;
    padding: 0;
    user-select: none;
    @media screen and (min-width: $mobile-break-point){
            height: 90vh;
    }
    .Slides-container{
        position: absolute;
        overflow-x:hidden;
        display: flex;
        flex-flow: row nowrap;
        height: 100%;
        width: 100%;    
        &::-webkit-scrollbar {
            display: none;
        }
        .slide-col{
            display:flex;
            flex: 0 0 100%;
            transition:.5s;
            margin: 0;
            height: 100%;
            width: 100%;
            font-family: 'Righteous',cursive;
        }
        .slide-wrap{
            flex:0 0 100%;
            display: flex;
            flex-flow: row nowrap;
            .mySlides{
                position:absolute;
                height:100%;
                width:100%;
                margin:0;
            }
        }
    }
    
    .prev, .next{
        cursor: pointer;
        position: absolute;
        height: 100%;
        box-sizing: border-box;
        width: auto;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        padding: 0 .2em;
        color: white;
        transition: 0.6s ease;
        font-size:5vw;
        border-radius: 0 3px 3px 0;
    }
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
        &:hover {
            text-shadow:-.25em 0em rgba(180,180,180,.8);
            background: linear-gradient(to right,rgba(0, 0, 0, 0),rgba(0, 0, 0,.4));
        }
    }
    .prev:hover {
        text-shadow:.25em 0em rgba(180,180,180,.8);
        background: linear-gradient(to left,rgba(0, 0, 0, 0),rgba(0, 0, 0,.4));
    }
    #slide-bullets{
        display: flex;
        flex-flow: row nowrap;
        position: absolute;
        width:100%;
        box-sizing: border-box;
        justify-content: center;
        bottom:0;
        margin: 0;
        padding: 1%;
        .bullets{
            min-width: 1vw;
            min-height: 1vw;
            border-radius: 50%;
            margin: 0 .3vw;
            transition: .7s;
            background: $bullet-color;
            border: .1em solid $active-bullet-color;
        }
        .active-bullet{
            background: $active-bullet-color;
            box-shadow: 2px 2px 4px black;
        }
    }
    
}