body {
  margin: 0;
  padding: 0; }
  body .body-container {
    position: relative;
    top: 10vh;
    width: 100%;
    font-family: 'Lato', sans-serif; }
    body .body-container .columns-wrapper {
      position: relative;
      display: flex;
      flex-flow: column nowrap;
      width: 100%; }
      body .body-container .columns-wrapper .body-columns {
        position: relative;
        width: 100%;
        display: grid;
        grid-template-areas: 'header' 'info'; }
        body .body-container .columns-wrapper .body-columns .column-header {
          position: relative;
          grid-area: header;
          width: 80%;
          margin: auto;
          box-sizing: border-box;
          background: #aa0909;
          height: 30vh; }
          body .body-container .columns-wrapper .body-columns .column-header .event-name {
            position: relative;
            width: 100%;
            height: 100%;
            display: grid;
            place-content: center;
            color: white;
            font-size: 2em; }
          body .body-container .columns-wrapper .body-columns .column-header .arrow-container {
            position: absolute;
            bottom: 0;
            width: 100%;
            box-sizing: border-box;
            text-align: center;
            cursor: pointer;
            transition: .5s; }
            body .body-container .columns-wrapper .body-columns .column-header .arrow-container:hover {
              transform: scale(1.1);
              background: #c51c1c; }
            body .body-container .columns-wrapper .body-columns .column-header .arrow-container .down-arrow {
              position: relative;
              color: white; }
        body .body-container .columns-wrapper .body-columns .info-column {
          position: relative;
          grid-area: info;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-template-areas: 'about1 about1 about2'  'subevents subevents subevents';
          width: 100%;
          height: 100%;
          box-sizing: border-box;
          padding: 2% 10%;
          background: #c51c1c; }
          body .body-container .columns-wrapper .body-columns .info-column .about-1 {
            position: relative;
            grid-area: about1;
            color: white;
            padding: 2%; }
          body .body-container .columns-wrapper .body-columns .info-column .about-2 {
            position: relative;
            grid-area: about2;
            width: 100%;
            box-sizing: border-box;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center; }
            body .body-container .columns-wrapper .body-columns .info-column .about-2 .info {
              position: relative;
              width: 100%;
              display: flex;
              flex-flow: row nowrap;
              justify-content: center;
              color: white; }
              body .body-container .columns-wrapper .body-columns .info-column .about-2 .info .info-name {
                position: relative;
                font-weight: bold;
                color: inherit; }
              body .body-container .columns-wrapper .body-columns .info-column .about-2 .info .data {
                position: relative;
                color: inherit; }
          body .body-container .columns-wrapper .body-columns .info-column .subevents-container {
            position: relative;
            grid-area: subevents;
            display: flex;
            flex-flow: row nowrap;
            width: 100%;
            box-sizing: border-box;
            margin: 0;
            padding: 2% 2%;
            overflow-x: scroll;
            overflow-y: hidden;
            transition: 1s;
            background: #e0e3e7; }

@media only screen and (max-width: 600px) {
  body .body-container .columns-wrapper .body-columns .info-column .subevents-container {
    height: 19vh; } }

@media only screen and (min-width: 600px) {
  body .body-container .columns-wrapper .body-columns .info-column .subevents-container {
    height: 35vh; } }
            body .body-container .columns-wrapper .body-columns .info-column .subevents-container .subevents-column {
              position: relative;
              box-shadow: 0px 0px 10px #020202;
              overflow: hidden;
              background: #d4bcbc;
              margin-right: 3%;
              border-radius: .5em;
              cursor: pointer;
              transition: .5s; }

@media only screen and (max-width: 600px) {
  body .body-container .columns-wrapper .body-columns .info-column .subevents-container .subevents-column {
    min-width: 48%; } }

@media only screen and (min-width: 600px) {
  body .body-container .columns-wrapper .body-columns .info-column .subevents-container .subevents-column {
    min-width: 31.3%; } }
              body .body-container .columns-wrapper .body-columns .info-column .subevents-container .subevents-column .overlay {
                position: absolute;
                display: grid;
                justify-content: center;
                align-content: end;
                width: 100%;
                height: 100%;
                box-sizing: border-box;
                padding-bottom: 3%;
                z-index: 1; }
                body .body-container .columns-wrapper .body-columns .info-column .subevents-container .subevents-column .overlay p {
                  display: none;
                  color: #fffefe;
                  font-size: 2em;
                  margin: 0;
                  font-weight: bold; }
              body .body-container .columns-wrapper .body-columns .info-column .subevents-container .subevents-column img {
                position: absolute;
                width: 100%;
                height: 100%;
                transition: .4s; }
              body .body-container .columns-wrapper .body-columns .info-column .subevents-container .subevents-column:hover .overlay {
                background: linear-gradient(rgba(10, 10, 10, 0.6), rgba(255, 255, 255, 0) 15%, rgba(255, 255, 255, 0) 85%, rgba(10, 10, 10, 0.6)); }
                body .body-container .columns-wrapper .body-columns .info-column .subevents-container .subevents-column:hover .overlay p {
                  display: block; }
              body .body-container .columns-wrapper .body-columns .info-column .subevents-container .subevents-column:hover img {
                transform: scale(1.1); }
            body .body-container .columns-wrapper .body-columns .info-column .subevents-container::-webkit-scrollbar {
              height: 0px !important; }

/*# sourceMappingURL=event-style-3.css.map */