body {
  margin: 0;
  padding: 0; }
  body .body-container {
    position: relative;
    top: 8vh;
    width: 100%;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-flow: column nowrap; }
    body .body-container .body-head {
      position: relative;
      width: 100%;
      display: grid;
      grid-template-columns: 50% 50%;
      justify-content: space-between; }

@media only screen and (max-width: 600px) {
  body .body-container .body-head {
    font-size: .5em;
    min-height: 15vh; } }

@media only screen and (min-width: 600px) {
  body .body-container .body-head {
    font-size: 1em;
    min-height: 40vh; } }
      body .body-container .body-head .heading-col {
        position: relative;
        display: grid;
        align-content: center;
        justify-content: end;
        padding-right: 10%; }
        body .body-container .body-head .heading-col p {
          margin: 0;
          font-size: 4em;
          color: #0a0a0a; }
      body .body-container .body-head .cover-img {
        position: relative;
        width: 100%;
        height: 100%; }
        body .body-container .body-head .cover-img img {
          width: 100%; }
    body .body-container .columns-wrapper {
      position: relative;
      width: 99%;
      margin: auto;
      min-height: 54vh; }
      body .body-container .columns-wrapper:nth-child(even) .body-column .event-grid {
        grid-template-areas: "main-col details" "subevents subevents"; }
      body .body-container .columns-wrapper:nth-child(odd) .body-column {
        right: 0;
        float: right; }
        body .body-container .columns-wrapper:nth-child(odd) .body-column .event-grid {
          right: 0;
          grid-template-areas: "details main-col" "subevents subevents"; }
          body .body-container .columns-wrapper:nth-child(odd) .body-column .event-grid .main-col {
            justify-content: start; }
      body .body-container .columns-wrapper .body-column {
        position: relative;
        width: 50%;
        height: 54vh;
        overflow: hidden;
        transition: 1s; }
        body .body-container .columns-wrapper .body-column .event-grid {
          position: absolute;
          display: grid;
          grid-template-columns: 49% 49%;
          grid-template-rows: 59.5% 40%;
          grid-gap: .25rem;
          width: 100vw;
          height: 90vh;
          box-sizing: border-box; }
          body .body-container .columns-wrapper .body-column .event-grid .main-col {
            width: 100%;
            height: 100%;
            position: relative;
            background: #646464;
            grid-area: main-col;
            color: white;
            display: grid;
            align-content: center;
            justify-content: end; }
            body .body-container .columns-wrapper .body-column .event-grid .main-col h1 {
              font-size: 2em; }
          body .body-container .columns-wrapper .body-column .event-grid .event-details {
            width: 100%;
            height: 100%;
            position: relative;
            background: #c8c8c8;
            grid-area: details;
            display: grid;
            align-content: center;
            justify-content: end; }
          body .body-container .columns-wrapper .body-column .event-grid .subevent-container {
            width: 100%;
            height: 100%;
            position: relative;
            grid-area: subevents;
            overflow: hidden; }
            body .body-container .columns-wrapper .body-column .event-grid .subevent-container .list-wrapper {
              position: absolute;
              width: 100%;
              height: 104%;
              display: flex;
              flex-flow: row nowrap;
              align-content: center;
              justify-content: flex-start;
              overflow-x: scroll;
              overflow-y: hidden; }
              body .body-container .columns-wrapper .body-column .event-grid .subevent-container .list-wrapper .subevent-col {
                position: relative;
                width: 32.5%;
                height: 100%;
                flex-shrink: 0;
                background: #640064;
                display: grid;
                place-content: center; }
                body .body-container .columns-wrapper .body-column .event-grid .subevent-container .list-wrapper .subevent-col .name {
                  font-size: 2em; }
            body .body-container .columns-wrapper .body-column .event-grid .subevent-container .list-wrapper::-webkit-scrollbar {
              width: 0 !important;
              background: rgba(100, 100, 100, 0); }

/*# sourceMappingURL=events-style-sass.css.map */