$mobile-break: 600px;
$container-background-color: rgba(240,240,240,1);
$container-heading-color: rgb(20, 39, 57);
$event-details-color:rgba(0, 34, 51,1);
$event-name-color:rgb(80,80,80);


body{
    margin:0;
    padding:0;
    .body-container{
        position:relative;
        top:10vh;
        box-sizing: border-box;
        width:100%;
        min-height:80vh;
        padding-bottom:10vh;
        display:flex;
        flex-flow:column nowrap;
        font-family: 'Roboto', sans-serif;
        .events-wrapper{
            position:relative;
            width:100%;
            box-sizing: border-box;
            padding:2% 5%;
            background:$container-background-color;
            .heading-container{
                position: relative;
                width:100%;
                box-sizing: border-box;
                padding: 0;
                display:flex;
                flex-flow: column nowrap;
                justify-content: space-around;
                align-items: center;
                .heading{
                    position: relative;
                    font-size: 2.5em;
                    font-weight: bold;
                    color:$container-heading-color;
                }
                hr{
                    border:0;
                    margin:1% 0;
                    width:25%;
                    height: .15em;
                    background: $container-heading-color;
                }
            }
            .events-container{
                position:relative;
                width:100%;
                display:flex;
                flex-flow: row nowrap;
                .scroll-container{
                    position:relative;
                    width:100%;
                    display:flex;
                    flex-flow: row nowrap;
                    padding:2% 3%;
                    overflow-x: scroll;
                    overflow-y:hidden;
                    &::-webkit-scrollbar {
                        height:0px !important; 
                    }
                    .event-column{
                        position: relative;
                        flex-shrink: 0;
                        font-family: 'Lato', sans-serif;
                        width:30%;
                        height:27vw;
                        overflow:hidden;
                        box-sizing: border-box;
                        margin:0 5.5% 0 0;
                        display:flex;
                        transition:.5s;
                        cursor: pointer;
                        box-shadow: 0 .2em 1.1em rgb(110,110,110);
                        &:hover{
                            transform:scale(1.07);
                        }
                        .image-container{
                            position: absolute;
                            width:100%;
                            height:100%;
                            box-sizing: border-box;
                            background:white;
                            overflow: hidden;
                            img{
                                width:100%;
                            }
                        }
                        .event-details{
                            position: absolute;;
                            bottom:0;
                            display:flex;
                            flex-flow: column nowrap;
                            width:100%;
                            min-height:53%;
                            box-sizing: border-box;
                            padding:4% 5%;
                            background:white;
                            color: $event-details-color;
                            .heading-column{
                                position:relative;
                                width:100%;
                                margin-bottom:4%;
                                .heading{
                                    font-size:1.4em;
                                    font-weight: bold;
                                }
                                hr{
                                    border:0;
                                    margin:1% 0;
                                    width:50%;
                                    height:.07em;
                                    background: $event-details-color;
                                }
                                .event-name{
                                    font-size:1em;
                                    font-weight: bold;
                                    color:$event-name-color;
                                }
                            }
                            .more-details{
                                position: relative;
                                width:100%;
                                display:flex;
                                flex-flow: row nowrap;
                                font-size: 1.1em;
                                margin-bottom:4%;
                                .detail-col{
                                    margin:0 2%;
                                    font-weight:bold;
                                }
                                hr{
                                    align-self: center;
                                    border:0;
                                    margin:0 2%;
                                    height:90%;
                                    width:.05em;
                                    background:black;

                                }
                            }
                            .tags-list{
                                position:relative;
                                display: flex;
                                flex-flow: row wrap;
                                width:100%;
                                font-size:.9em;
                                .tag{
                                    position:relative;
                                    border:.05em solid rgb(210,210,210);
                                    background:rgba(240,240,240,1);
                                    font-weight:bold;
                                    font-size:.9em;
                                    margin:0 5% 3% 0;
                                    padding:2% 4%;
                                }
                            }
                        }
                    }
                }
                .nav-arrow{
                    position:relative;
                    height:100%;
                    align-self: center;
                    font-size:4em;
                    padding:.1em;
                    transition:.5s;
                    color:$container-heading-color;
                    cursor:pointer;
                    &:hover{
                        transform:scale(1.2);
                    }
                }
            }
        }
    }
}