$mobile-break-point: 768px;
$tablet-break-point: 1200px;
body{
    margin:0;
    padding:0;
    .body-container{
        position:relative;
        top:7vh;
        @media screen and (min-width: $mobile-break-point) and (max-width: $tablet-break-point){
            top:6vw;
        }
        @media screen and (min-width: $tablet-break-point){
            top:10vh;
        }
        box-sizing: border-box;
        width:100%;
        min-height:80vh;
        padding-bottom:10vh;
        display:flex;
        flex-flow:column nowrap;
        font-family: 'Roboto', sans-serif;
    }
}