$mobile-break: 600px;
body{
    margin:0;
    padding:0;
    .body-container{
        position:relative;
        top:10vh;
        width:100%;
        font-family: 'Lato', sans-serif;
        .events-container{
            position: relative;
            width:100%;
            padding:2% 0;
            .events-list{
                position: relative;
                width:90%;
                height:100%;
                margin:auto;
                display:grid;
                @media only screen and (max-width:$mobile-break){
                    min-height:80vh;
                    grid-template-rows: repeat(3,minmax(2px,30%));
                    grid-row-gap: 5%;
                }
                @media only screen and (min-width:$mobile-break){
                    min-height:55vh;
                    grid-template-columns: repeat(3,minmax(2px,30%));
                    grid-column-gap: 5%;
                }
                .event-column{
                    position:relative;
                    width:100%;
                    @media only screen and (max-width:$mobile-break){
                        min-height:30vh;
                    }
                    @media only screen and (min-width:$mobile-break){
                        min-height:45vh;
                    }
                    &:nth-child(2){
                        .info-wrapper{
                            .event-info{
                                // display:grid;
                            }
                        }
                    }
                    // cursor: pointer;
                    .info-wrapper{
                        position:relative;
                        width:90vw;
                        display:grid;
                        grid-template-columns: repeat(3, 1fr);
                        grid-template-areas: 'name . .'
                                            'info info info';
                        // overflow:hidden;
                        .event-name{
                            position:relative;
                            width:100%;
                            grid-area: name;
                            @media only screen and (max-width:$mobile-break){
                                min-height:30vh;
                            }
                            @media only screen and (min-width:$mobile-break){
                                min-height:45vh;
                            }
                            display:grid;
                            place-content: center;
                            background: rgb(120,10,0);
                            transition: .5s;
                            &:hover{
                                transform: scale(1.1);
                            }
                            P{
                                position:relative;
                                margin:0;
                                font-size: 1.2em;
                                color:white;
                                transition:.5s;
                            }
                        }
                        
                        .event-info{
                            position:relaitve;
                            width:90vw;
                            left:-10vw;
                            grid-area: info;
                            display:none;
                            // display:grid;
                            grid-template-areas: 'desc desc details'
                                                'subevents subevents subevents';
                            grid-template-columns: repeat(3, minmax(100px,1fr));
                            grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
                            .event-desc{
                                position:relative;
                                width:100%;
                                grid-area: desc;
                                padding:1%;
                                background: rgb(250,250,240);
                                color:rgb(20, 131, 88);
                                padding:4% 4% 4% 1%;
                                box-sizing: border-box;
                            }
                            .event-details{
                                position:relative;
                                width:100%;
                                grid-area: details;
                                display:grid;
                                grid-template-rows: repeat(auto-fill,1fr);
                                .info{
                                    position:relative;
                                    width:90%;
                                    display:grid;
                                    grid-template-columns: repeat(2,1fr) ;
                                    // place-content: center;
                                    .info-name{
                                        position: relative;
                                        width:100%;
                                        color:rgb(10,10,10);
                                        font-weight: bold;
                                    }
                                    .data{
                                        position: relative;
                                        width:100%;
                                        color: rgb(100,100,100);
                                    }
                                }   
                            }                    
                            .subevents-container{
                                position: relative;
                                grid-area: subevents;
                                display:flex;
                                flex-flow: row nowrap;
                                width:100%;
                                box-sizing: border-box;
                                margin:0;
                                padding:2% 2%;
                                overflow-x: scroll;
                                overflow-y:hidden;
                                transition:1s;
                                // background:rgb(54, 50, 50);
                                background:rgb(224, 227, 231);
        
                                @media only screen and (max-width:$mobile-break){
                                    // font-size: .5em;
                                    height:19vh;
                                }
                                @media only screen and (min-width:$mobile-break){
                                    // font-size: 1em;
                                    height:35vh;
                                }
                                .subevents-column{
                                    position:relative;
                                    box-shadow: 0px 0px 10px  rgb(2,2,2);
                                    @media only screen and (max-width:$mobile-break){
                                        // font-size: .5em;
                                        min-width:48%;
                                    }
                                    @media only screen and (min-width:$mobile-break){
                                        // font-size: 1em;
                                        min-width:31.3% ;
                                    }
                                    overflow:hidden;
                                    background: rgb(212, 188, 188);
                                    margin-right:3%;
                                    border-radius: .5em;
                                    cursor: pointer;
                                    transition:.5s;
                                    .overlay{
                                        position: absolute;
                                        display: grid;
                                        justify-content: center;
                                        align-content: end;
                                        width:100%;
                                        height:100%;
                                        box-sizing: border-box;
                                        padding-bottom:3%;
                                        z-index: 1;
                                        p{
                                            display:none;
                                            color:rgb(255, 254, 254);
                                            font-size: 2em;
                                            margin:0;
                                            font-weight: bold;
                                        }
                                    }
                                    img{
                                        position:absolute;
                                        width:100%;
                                        // left:-50%;
                                        height:100%;
                                        transition:.4s;
                                    }
                                
                                    &:hover{
                                        .overlay{
                                            background: linear-gradient(rgba(10,10,10,.6),rgba(255,255,255,0) 15%,rgba(255,255,255,0) 85%,rgba(10,10,10,.6));
                                            p{
                                                display: block;
                                            }
                                        }
                                        img{
                                            transform:scale(1.1);
                                        }
                                    }
                                }
                                &::-webkit-scrollbar {
                                    height:0px !important; 
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
