$mobile-break: 600px;
body{
    margin:0;
    padding:0;
    .body-container{
        position:relative;
        top:10vh;
        box-sizing: border-box;
        width:100%;
        min-height:80vh;
        padding-bottom:10vh;
        font-family: 'Roboto', sans-serif;
        background:rgba(240,240,240,1);
        // display: flex;
        // flex-flow: column nowrap;
        .events-wrapper{
            position:relative;
            width:100%;
            box-sizing: border-box;
            padding:0 5%;
            .heading-container{
                position: relative;
                // display:none;
                width:100%;
                box-sizing: border-box;
                padding:2% 0;
                .heading{
                    position: relative;
                    font-size: 2em;
                    font-weight: bold;
                }
                hr{
                    border:0;
                    margin:1% 0;
                    width:50%;
                    height: .1em;
                    background: rgb(0,0,0);
                }
            }
            .events-container{
                position:relative;
                width:100%;
                // height:30vh;
                overflow-x: scroll;
                overflow-y:hidden;
                display:flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                .event-column{
                    position: relative;
                    font-family: 'Lato', sans-serif;
                    min-width:20%;
                    height:25vw;
                    margin:1.5%;
                    display:grid;
                    // grid-template-rows: 45% 55%;
                    // background:rgb(172, 123, 123);
                    box-shadow: 0 1px 5px rgb(110,110,110);
                    .image-container{
                        position: absolute;
                        width:100%;
                        height:100%;
                        box-sizing: border-box;
                        // padding:2%;
                        overflow: hidden;
                        img{
                            width:100%;
                            // height:100%;
                        }
                    }
                    .event-details{
                        position: absolute;;
                        bottom:0;
                        display:flex;
                        flex-flow: column nowrap;
                        width:100%;
                        height:55%;
                        box-sizing: border-box;
                        // background: linear-gradient(to bottom,rgba(255,255,255,0) 0%,rgba(255,255,255,.3) 10%,rgba(255,255,255,1) 20%);
                        padding:0 5%;
                        background:white;
                        // height:100%;
                        
                        .heading-column{
                            position:relative;
                            width:100%;
                            margin:5% 0;
                            .heading{
                                font-size:1.4em;
                                font-weight: bold;
                            }
                            hr{
                                border:0;
                                margin:1% 0;
                                width:40%;
                                height:.05em;
                                background:rgb(0,0,0);
                            }
                            .event-name{
                                font-size:1em;
                                color:rgb(50,50,50);
                            }
                        }
                        .more-details{
                            position: relative;
                            width:100%;
                            display:flex;
                            flex-flow: row nowrap;
                            
                            font-size: 1.2em;
                            .detail-col{
                                margin:0 2%;
                            }
                            hr{
                                align-self: center;
                                border:0;
                                margin:0;
                                height:90%;
                                width:.05em;
                                background:rgb(0,0,0);

                            }
                        }
                    }
                }
                &::-webkit-scrollbar {
                    height:0px !important; 
                }
            }
        }
    }
}