$mobile-break: 600px;
body{
    margin:0;
    padding:0;
    .body-container{
        position:relative;
        top:10vh;
        width:100%;
        font-family: 'Lato', sans-serif;
        .columns-wrapper{
            position:relative;
            display:flex;
            flex-flow: column nowrap;
            width:100%;
            .body-columns{
                $outer-background:rgb(170, 9, 9);
                $inner-background: rgb(197, 28, 28);
                position:relative;
                width:100%;
                display:grid;
                grid-template-areas: 'header' 'info';
                .column-header{
                    position:relative;
                    grid-area: header;
                    width:80%;
                    margin:auto;
                    box-sizing: border-box;
                    // padding:1% 10%;
                    background:$outer-background;
                    height:30vh;
                    .event-name{
                        position:relative;
                        width:100%;
                        height:100%;
                        display:grid;
                        place-content: center;
                        color:white;
                        font-size: 2em;
                    }
                    .arrow-container{
                        position:absolute;
                        bottom:0;
                        width:100%;
                        box-sizing: border-box;
                        // padding:2%;
                        text-align: center;
                        cursor: pointer;
                        transition:.5s;
                        &:hover{
                            transform:scale(1.1);
                            background: $inner-background;
                        }
                        .down-arrow{
                            position:relative;
                            color:white;
                        }
                    }
                }
                .info-column{
                    position: relative;
                    grid-area: info;
                    display:grid;
                    grid-template-columns: repeat(3,1fr);
                    // grid-template-rows: 30% 65%;
                    grid-template-areas: 'about1 about1 about2' 
                                        'subevents subevents subevents';
                    
                    
                    width:100%;
                    height:100%;
                    box-sizing: border-box;
                    padding:2% 10%;
                    background: $inner-background;
                    .about-1{
                        position:relative;
                        grid-area: about1;
                        color:white;
                        padding:2%;
                        // margin:2%;
                    }
                    .about-2{
                        position:relative;
                        grid-area: about2;
                        width:100%;
                        box-sizing: border-box;
                        display:flex;
                        flex-flow: column nowrap;
                        justify-content: center;
                        .info{
                            position: relative;
                            width:100%;
                            display:flex;
                            flex-flow: row nowrap;
                            justify-content: center;
                            color:white;
                            .info-name{
                                position:relative;
                                font-weight: bold;
                                color:inherit;
                            }
                            .data{
                                position: relative;
                                color: inherit;
                            }
                        }
                    }
                    .subevents-container{
                        position: relative;
                        grid-area: subevents;
                        display:flex;
                        flex-flow: row nowrap;
                        width:100%;
                        box-sizing: border-box;
                        margin:0;
                        padding:2% 2%;
                        overflow-x: scroll;
                        overflow-y:hidden;
                        transition:1s;
                        // background:rgb(54, 50, 50);
                        background:rgb(224, 227, 231);

                        @media only screen and (max-width:$mobile-break){
                            // font-size: .5em;
                            height:19vh;
                        }
                        @media only screen and (min-width:$mobile-break){
                            // font-size: 1em;
                            height:35vh;
                        }
                        .subevents-column{
                            position:relative;
                            box-shadow: 0px 0px 10px  rgb(2,2,2);
                            @media only screen and (max-width:$mobile-break){
                                // font-size: .5em;
                                min-width:48%;
                            }
                            @media only screen and (min-width:$mobile-break){
                                // font-size: 1em;
                                min-width:31.3% ;
                            }
                            overflow:hidden;
                            background: rgb(212, 188, 188);
                            margin-right:3%;
                            border-radius: .5em;
                            cursor: pointer;
                            transition:.5s;
                            .overlay{
                                position: absolute;
                                display: grid;
                                justify-content: center;
                                align-content: end;
                                width:100%;
                                height:100%;
                                box-sizing: border-box;
                                padding-bottom:3%;
                                z-index: 1;
                                p{
                                    display:none;
                                    color:rgb(255, 254, 254);
                                    font-size: 2em;
                                    margin:0;
                                    font-weight: bold;
                                }
                            }
                            img{
                                position:absolute;
                                width:100%;
                                // left:-50%;
                                height:100%;
                                transition:.4s;
                            }
                        
                            &:hover{
                                .overlay{
                                    background: linear-gradient(rgba(10,10,10,.6),rgba(255,255,255,0) 15%,rgba(255,255,255,0) 85%,rgba(10,10,10,.6));
                                    p{
                                        display: block;
                                    }
                                }
                                img{
                                    transform:scale(1.1);
                                }
                            }
                        }
                        &::-webkit-scrollbar {
                            height:0px !important; 
                        }
                    }
                }
            }
        }
    }
}