{% extends  'basic/base.html' %}
{% load static %}
{% load sass_tags %}

{% block title %}
{{ title }}
{% endblock title %}
{% block contentstylesheet %}
<link rel="stylesheet" type="text/css" href="{% sass_src  'events/stylesheets/events-style-sass.scss' %}?{% now 'jS S Y H:i' %}" />
<script src="{% static 'events/javascripts/event-page.js' %}?{% now 'jS S Y H:i' %}"></script>

{% endblock contentstylesheet %}

{% block content %}
<div class="body-container">
    <div class="body-head">
        <div class="heading-col">
            <p>Events</p>
            <hr>
        </div>
        <div class="scroll-container">
            {% for i in mevents %}
            <div class="scroll-columns">
                <img src="{% static 'events/images/Techblocks 5.2 DS&A.jpg' %}" />
                <div class="overlay">
                    <p>TechBlocks 5.1</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% for i in events %}
    <div class="columns-wrapper">
        <div class="body-column">
            <div class="event-grid">
                <div class="main-col" onclick="expand_column(this)">
                    <img src="{% static 'events/images/Techblocks 5.1.jpg' %}" />
                <h1>
                        {{i.Event_Name}}
                    </h1>
                </div>
                <div class="event-details">
                    <div class="description">
                        {{i.Discription}}
                    </div>
                    <div class="details">
                        DATE: {{i.Event_Date}}<br>
                        TIME:{{i.Event_Time}}<br>
                        Status: {{i.Event_status}}
                    </div>
                </div>
                <div class="subevent-container">
                    <div class="list-wrapper">
                        <div class="subevent-col">
                            <div class="name">
                                PYTHON
                            </div>
                        </div>
                        <div class="subevent-col">
                            <div class="name">
                                PYTHON
                            </div>
                        </div>
                        <div class="subevent-col">
                            <div class="name">
                                PYTHON
                            </div>
                        </div>
                        <div class="subevent-col">
                            <div class="name">
                                PYTHON
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<script src="{% static 'events/javascripts/team-div.js' %}?{% now 'jS S Y H:i' %}"></script>

{% endblock content %}