{% extends  'basic/base.html' %}
{% load static %}
{% load sass_tags %}

{% block title %}
{{ title }}
{% endblock title %}
{% block contentstylesheet %}
<link rel="stylesheet" type="text/css" href="{% sass_src  'events/stylesheets/events-style-sass.scss' %}?{% now 'jS S Y H:i' %}" />
<script src="{% static 'events/javascripts/event-page.js' %}?{% now 'jS S Y H:i' %}"></script>

{% endblock contentstylesheet %}

{% block content %}
<div class="body-container">
    <div class="body-head">
        <div class="heading-col">
            <p>Events</p>
        </div>
        <div class="cover-img">
            <img src="{% static 'home/images/cover photo/cover5.jpg' %}" />
        </div>
    </div>
    {% for i in events %}
    <div class="columns-wrapper">
        <div class="body-column">
            <div class="event-grid">
                <div class="main-col" onclick="expand_column(this)">
                    <h1>
                        TECHBLOCKS&nbsp5.1
                    </h1>
                </div>
                <div class="event-details">
                    <div class="description">
                        Data structures are the building blocks of programming. "smart data structures and dumb code work way better than the other way round " say many great coding geeks.

                    </div>
                    <div class="details">
                        DATE: 12/12/12<br>
                        TIME: 5-7 PM<br>
                        VENUE: G1 - G7
                    </div>
                </div>
                <div class="subevent-container">
                    <div class="list-wrapper">
                        <div class="subevent-col">
                            <div class="name">
                                PYTHON
                            </div>
                        </div>
                        <div class="subevent-col">
                            <div class="name">
                                PYTHON
                            </div>
                        </div>
                        <div class="subevent-col">
                            <div class="name">
                                PYTHON
                            </div>
                        </div>
                        <div class="subevent-col">
                            <div class="name">
                                PYTHON
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<script src="{% static 'events/javascripts/team-div.js' %}?{% now 'jS S Y H:i' %}"></script>

{% endblock content %}