{% extends  'basic/base.html' %}
{% load static %}
{% load sass_tags %}

{% block title %}
{{ title }}
{% endblock title %}
{% block contentstylesheet %}
<link rel="stylesheet" type="text/css" href="{% sass_src  'events/stylesheets/event-style.scss' %}?{% now 'jS S Y H:i' %}" />
<link rel="stylesheet" type="text/css" href="{% sass_src  'events/stylesheets/events-column-style.scss' %}?{% now 'jS S Y H:i' %}" />
<script src="{% static 'events/javascripts/event-page.js' %}?{% now 'jS S Y H:i' %}"></script>

{% endblock contentstylesheet %}

{% block content %}
<div class="body-container">
    {% include 'slideshow-container-type2.html' %}
    {% if upcoming_events %}
    {% include 'upcoming_events_column.html' %}
    {% endif %}
    {% include 'all_events_column.html' %}
</div>
{% endblock content %}