{% extends  'basic/base.html' %}
{% load static %}
{% load sass_tags %}

{% block title %}
{{ title }}
{% endblock title %}

{% block contentstylesheet %}
<link rel="stylesheet" type="text/css" href="{% sass_src  'home/stylesheets/home-style-sass.scss' %}?{% now 'jS S Y H:i' %}" />

{% endblock contentstylesheet %}
    
{% block content %}
<div class="body-container">
    {% include 'slideshow-container-type1.html' %}
    <div class="body-column">
        <div class="content-container">
            <div class="content-head">
                <p class="small-text">WELCOME&nbspTO&nbspIEEE</p>
                <p class="large-text">Institute Of Electrical And Electronics Engineering</p>
            </div>
            <div class="content">
                <p>IEEE is the world’s largest technical professional organization dedicated to advancing technology for the benefit of humanity.</p>
                <p>IEEE and its members inspire a global community to innovate for a better tomorrow through its more than
                        420,000 members in over 160 countries, and its highly cited publications, conferences, technology standards,
                        and professional and educational activities.</p>
                <p>IEEE is the trusted “voice” for engineering, computing, and technology information around the globe.</p>
            </div>
        </div>
    </div>
    <!-- <div class="body-column">
        <div class="row-grid">
            <div class="content-container">
                <div class="large-text">Checkout Our Events</div>
                <div class="link-button" onclick="location.href='event'" >
                    Click Here
                </div>
            </div>
            <div class=img-column>
                <img src="{% static 'home/images/backgrounds/01.jpg' %}" />
            </div>
        </div>
    </div> -->
    <div class="body-column">
        <div class="row-grid">
            <div class="content-container">
                <div class="large-text">Know Our Team</div>
                <div class="link-button" onclick="location.href='team'" >
                    Click Here
                </div>
            </div>
            <div class=img-column>
                <img src="{% static 'home/images/backgrounds/10.jpg' %}" />
            </div>
        </div>
    </div>
    <div class="body-column">
        <div class="row-grid">
            <div class="content-container">
                <div class="large-text">Know More About Us</div>
                <div class="link-button" onclick="location.href='about'" >
                    Click Here
                </div>
            </div>
            <div class=img-column>
                <img src="{% static 'home/images/backgrounds/01.jpg' %}" />
            </div>
        </div>
    </div>
    <div class="body-column" id="fix-background-1">
        <div class="content-container">
            <div class="content-head">
                <p class="small-text">JOIN US</p>
                <p class="large-text">BE A PART OF 1000+ FAMILY</p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}