{% load static %}
{% load sass_tags %}
<link rel="stylesheet" type="text/css" href="{% sass_src  'home/stylesheets/slideshow-style-type1-sass.scss' %}?{% now 'jS S Y H:i' %}" />

<div class="slide-div-full">
    <div class="Slides-container" id="slide-id">
        {% for slide in Slides %}
        <div class="slide-col">
            <div class="slide-wrap">
                <img class="mySlides" src="{{ slide.Display_img.url }}" alt="{{ slide.About_image }}"/>
                <!-- <div class="Overlay-text"><p>Welcome<br>IEEE SB JIIT</p></div> -->
            </div>
        </div>
        {% endfor %}
    </div>

    <a class="prev" onclick="moveSlide(-1)">&#10094;</a>
    <a class="next" onclick="moveSlide(1)">&#10095;</a>
    
    <div id="slide-bullets">
        {% for slide in Slides %}
        <div class="bullets"></div>
        {% endfor %}
    </div>
</div>

<script src="{% static 'home/javascripts/slideshow-js-type1.js' %}?{% now 'jS S Y H:i' %}"></script>

    