{% load static %}

<div class="top-cover">
        <div class="Slides-container" id="slide-id">
            <div class="slide-col">
                <div class="slide-wrap">
                    <img class="mySlides" src="{% static 'home/images/cover photo/IEEE cover1.jpg' %}" />
                    <!-- <div class="Overlay-text"><p>Welcome<br>IEEE SB JIIT</p></div> -->
                </div>
            </div>
            <div class="slide-col">
                <div class="slide-wrap">
                    <img class="mySlides" src="{% static 'home/images/cover photo/IEEE cover2.jpg' %}" />
                    <!-- <div class="Overlay-text"><p>Xenith launch poster</p></div> -->
                </div>
            </div>
            <div class="slide-col">
                <div class="slide-wrap">
                        <img class="mySlides" src="{% static 'home/images/cover photo/Xenith cover1.jpg' %}" />
                    <!-- <div class="Overlay-text"><p>Events itenary or posters</p></div> -->
                </div>
            </div>
        </div>
    
        <a class="prev" onclick="moveSlide(-1)">&#10094;</a>
        <a class="next" onclick="moveSlide(1)">&#10095;</a>
        
        <div id="slide-bullets">
            <div class="bullets active-bullet"></div>
            <div class="bullets"></div>
            <div class="bullets"></div>
        </div>
    </div>
    