{% load static %}

<div class="top-cover">
        <div class="Slides-container" id="slide-id">
            <div class="slide-col">
                <div class="slide-wrap">
                    <img class="mySlides" src="{% static 'home/images/backgrounds/03.jpg' %}" />
                    <div class="Overlay-text"><p>Welcome<br>IEEE SB JIIT</p></div>
                </div>
            </div>
            <div class="slide-col">
                <div class="slide-wrap">
                        <img class="mySlides" src="{% static 'home/images/backgrounds/05.jpg' %}" />
                    <div class="Overlay-text"><p>IEEE<br>Advancing Technology For Humanity</p></div>
                </div>
            </div>
            <div class="slide-col">
                <div class="slide-wrap">
                    <img class="mySlides" src="{% static 'home/images/backgrounds/16.jpg' %}" />
                    <div class="Overlay-text"><p>Here is some Info Text</p></div>
                </div>
            </div>
            <div class="slide-col">
                <div class="slide-wrap">
                        <img class="mySlides" src="{% static 'home/images/backgrounds/081.jpg' %}" />
                    <div class="Overlay-text"><p>Here is some Info Text</p></div>
                </div>
            </div>
            <div class="slide-col">
                <div class="slide-wrap">
                        <img class="mySlides" src="{% static 'home/images/backgrounds/17.jpg' %}" />
                    <div class="Overlay-text"><p>Here is some Info Text</p></div>
                </div>
            </div>
        </div>
    
        <a class="prev" onclick="moveSlide(-1)">&#10094;</a>
        <a class="next" onclick="moveSlide(1)">&#10095;</a>
        <div id="slide-bullets">
            <div class="bullets active-bullet"></div>
            <div class="bullets"></div>
            <div class="bullets"></div>
            <div class="bullets"></div>
            <div class="bullets"></div>
        </div>
    </div>
    