footer {
  scroll-behavior: smooth;
  position: relative;
  width: 100%;
  overflow: hidden;
  background: #0d1a26;
  font-family: 'Open Sans', sans-serif; }
  @media only screen and (max-width: 600px) {
    footer {
      height: 30vw;
      font-size: .4em; } }
  @media only screen and (min-width: 600px) {
    footer {
      height: 45vh; } }
  footer .footer-container {
    position: relative;
    width: 40%;
    height: 85%;
    box-sizing: border-box;
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 45% 35%;
    grid-template-areas: 'arrow-up arrow-up' 'logo details' 'icons icons'; }
    footer .footer-container .arrow-up {
      grid-area: arrow-up;
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;
      cursor: pointer;
      border-bottom: 0.12em solid rgba(255, 255, 255, 0.8); }
      footer .footer-container .arrow-up svg {
        position: relative;
        width: 3%;
        height: 100%;
        transition: .2s; }
        footer .footer-container .arrow-up svg path {
          fill: white; }
        footer .footer-container .arrow-up svg:hover {
          transform: scale(1.1); }
          footer .footer-container .arrow-up svg:hover path {
            fill: rgba(255, 255, 255, 0.7); }
    footer .footer-container .logo-column {
      grid-area: logo;
      position: relative;
      width: 100%;
      box-sizing: border-box;
      padding: 10% 20%;
      overflow: hidden;
      display: flex;
      justify-content: flex-end;
      border-right: 0.12em solid rgba(255, 255, 255, 0.8); }
      footer .footer-container .logo-column img {
        position: relative;
        width: 100%;
        height: 100%;
        cursor: pointer; }
    footer .footer-container .details-column {
      grid-area: details;
      position: relative;
      width: 100%;
      box-sizing: border-box;
      padding: 10% 20%;
      color: white; }
      footer .footer-container .details-column h3 {
        margin: 0 0 2% 0; }
        footer .footer-container .details-column h3 hr {
          border: 0;
          margin: 0;
          width: 50%;
          height: .1em;
          background: rgba(255, 255, 255, 0.8); }
      footer .footer-container .details-column p {
        font-size: .9em;
        margin: 0; }
    footer .footer-container .icons-container {
      grid-area: icons;
      position: relative;
      width: 100%;
      box-sizing: border-box;
      padding: 2% 0;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      border-top: 0.12em solid rgba(255, 255, 255, 0.8); }
      footer .footer-container .icons-container .icon {
        position: relative;
        width: 2.5em;
        height: 2.5em;
        overflow: hidden;
        margin: 0 2%;
        cursor: pointer;
        border-radius: 50%;
        border: 0.1em solid white;
        transition: .4s; }
        footer .footer-container .icons-container .icon:hover {
          transform: scale(1.1); }
  footer .footer-bottom {
    position: relative;
    width: 100%;
    height: 15%;
    box-sizing: border-box;
    padding: .5em;
    background: #070d13;
    display: flex;
    justify-content: center;
    align-items: center; }
    footer .footer-bottom .footer-heading {
      position: relative;
      color: white;
      font-size: 1.1em;
      font-weight: bold;
      letter-spacing: 0.5em; }

/*# sourceMappingURL=footer2-style-sass.css.map */