body {
  margin: 0;
  padding: 0; }
  body .body-container {
    width: 100%;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    font-family: 'Lato', sans-serif; }
    body .body-container .body-column {
      width: 100%;
      box-sizing: border-box; }

@media only screen and (max-width: 600px) {
  body .body-container .body-column {
    font-size: .5em;
    min-height: 15vh; } }

@media only screen and (min-width: 600px) {
  body .body-container .body-column {
    font-size: 1em;
    min-height: 40vh; } }
      body .body-container .body-column .content-container {
        position: relative;
        width: 70%;
        margin: auto;
        padding: 7% 0;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        text-align: center; }
        body .body-container .body-column .content-container .content-head {
          width: 100%;
          display: flex;
          flex-flow: column nowrap;
          justify-content: center; }
          body .body-container .body-column .content-container .content-head p {
            margin: 0 0 1rem 0; }
        body .body-container .body-column .content-container .content {
          line-height: 1.6;
          font-size: 0.94em;
          font-weight: 100;
          width: 80%;
          margin: auto;
          color: #222324; }
        body .body-container .body-column .content-container .small-text {
          color: #13b1cd;
          font-weight: 700;
          font-size: 1.1em;
          letter-spacing: .125rem;
          line-height: 1.2; }
        body .body-container .body-column .content-container .large-text {
          font-size: 2.75em; }
      body .body-container .body-column:nth-child(odd) .row-grid {
        grid-template-areas: "content-col img-column"; }
        body .body-container .body-column:nth-child(odd) .row-grid .content-container {
          text-align: right;
          align-items: flex-end; }
      body .body-container .body-column:nth-child(even) .row-grid {
        grid-template-areas: "img-column content-col"; }
        body .body-container .body-column:nth-child(even) .row-grid .content-container {
          text-align: left;
          align-items: flex-start; }
      body .body-container .body-column .row-grid {
        position: relative;
        width: 100%;
        display: grid;
        grid-template-columns: 50% 50%; }
        body .body-container .body-column .row-grid .content-container {
          grid-area: content-col;
          padding: 0;
          height: 30%;
          justify-content: space-around; }

@media only screen and (max-width: 600px) {
  body .body-container .body-column .row-grid .content-container {
    font-size: .6em; } }

@media only screen and (min-width: 600px) {
  body .body-container .body-column .row-grid .content-container {
    font-size: 1em; } }
          body .body-container .body-column .row-grid .content-container .large-text {
            font-weight: 700; }
          body .body-container .body-column .row-grid .content-container .link-button {
            position: relative;
            cursor: pointer;
            align-self: right;
            padding: 1% 2%;
            font-size: 1.2em;
            font-weight: 700;
            transition: .5s;
            border: 2px solid #0a0a0a; }
            body .body-container .body-column .row-grid .content-container .link-button:hover {
              background: #646464;
              color: white;
              border-color: #323232; }
        body .body-container .body-column .row-grid .img-column {
          grid-area: img-column; }
          body .body-container .body-column .row-grid .img-column img {
            width: 100%; }
    body .body-container #fix-background-1 {
      background: url("../images/backgrounds/07.jpg");
      background-attachment: fixed; }
      body .body-container #fix-background-1 .large-text {
        color: white;
        font-weight: 700; }

/*# sourceMappingURL=home-style-sass.css.map */